<h2>Registered Users</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="2">Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
            <a href="{% url 'delete_user' user.id %}" onclick="return confirm('Are you sure?')">
                <button>Delete</button>
            </a>
            <a href="{% url 'edit_user' user.id %}" onclick="return confirm('Are you sure?')">
                <button>Edit</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
